<IfModule mod_rewrite.c>
  # यह चेक करता है कि क्या mod_rewrite मॉड्यूल लोड है। इस कोड का उद्देश्य यह है कि यदि अनुरोध की गई URL एक मौजूदा फ़ाइल, डायरेक्टरी या सिम्लिंक के लिए नहीं है, तो उसे index.html पर रीराइट कर दिया जाए। यह अक्सर सिंगल-पेज एप्लिकेशन (SPA) में उपयोग किया जाता है, जहां सभी रूट्स को एक ही HTML फाइल द्वारा संभाला जाता है।


  RewriteEngine On
  # mod_rewrite को चालू करता है।

  RewriteBase /
  # रीरेट नियमों के लिए बेस URL सेट करता है।

  RewriteRule ^index\.html$ - [L]
  # यदि URL में index.html है, तो इसे वैसे ही रहने दें (कोई रीराइट नहीं करें) और इसे अंतिम नियम मानें।

  RewriteCond %{REQUEST_FILENAME} !-f
  # चेक करता है कि अनुरोध की गई फ़ाइल सर्वर पर मौजूद नहीं है।

  RewriteCond %{REQUEST_FILENAME} !-d
  # चेक करता है कि अनुरोध की गई डायरेक्टरी सर्वर पर मौजूद नहीं है।

  RewriteCond %{REQUEST_FILENAME} !-l
  # चेक करता है कि अनुरोध की गई चीज़ एक सिम्लिंक (सिंबलिक लिंक) नहीं है।

  RewriteRule . /index.html [L]
  # उपरोक्त सभी शर्तें पूरी होने पर (फ़ाइल, डायरेक्टरी या सिम्लिंक नहीं है), अनुरोध को index.html पर रीराइट करें और इसे अंतिम नियम मानें।

</IfModule>
# <IfModule> बंद करता है। यह सुनिश्चित करता है कि mod_rewrite मॉड्यूल मौजूद है।
